<div class="fade" ng-class="{in: true}">
	<h1>Foods</h1>
	<p>Here's a list of really cool foods. <a href ui-sref="food.new"> Add a new food</a></p>


	<div class="col-md-3">
	<div class="well well-small">
	<ul class="nav nav-pills nav-stacked">
	  <li class="notification-animation" ng-repeat="food in foods" ng-class="{active: $stateParams.foodId == food.id}"><a ui-sref="food.show({foodId: food.id})" style="border-radius: 0px; padding: 5px 10px;">{{food.name}}</a></li>
	</ul>
	</div>
	</div>

	<div class="col-md-9 notification-animation" ui-view>
	</div>
</div>