<div class="fade" ng-class="{in: true}">
	<h1>Foods</h1>
	<p>Here's a list of really cool foods. <a href ui-sref="food.new"> Add a new food</a></p>

<div class="container">
   <div class="row row-offcanvas row-offcanvas-left">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		<div class="well well-small">
			<ul class="nav nav-pills nav-stacked">
			  <li class="notification-animation" ng-repeat="food in foods" ng-class="{active: $stateParams.foodId == food.id}"><a ui-sref="food.show({foodId: food.id})" style="border-radius: 0px; padding: 5px 10px;">{{food.name}}</a></li>
			</ul>
		</div>
	</div>


		<div class="col-xs-12 col-sm-9">
			<p class="pull-left visible-xs">
            	<button id="offcanvasToggle" type="button" class="btn btn-primary btn-xs" ng-click="toggleArrow()" data-toggle="offcanvas"><i class="icon-arrow-{{arrowDirection}}"></i></button>
          	</p>
          	</br>
          	<div ui-view></div>
		</div>
   </div> <!--row-->
</div> <!--container-->

    
</div>