body { padding-top: 70px;
       padding-bottom: 70px;
       }

.myThumbnail {
  height: 100px;
  width: 130px;
  display: block;
  position: relative;
}

.miniThumbnail {
  height: 50px;
  width: 65px;
}

.editable-div:focus {
    outline: none;
}

.navbar-pic { /* This class enlarges the facebook profile pic in the nav bar*/
  width: 30px;
  height: 30px;
  margin-top: -6px;
  margin-bottom: -6px;
  margin-right: 5px;
  border-radius: 3px;
}

/*
Used for preventing a flash unloaded angular content by gently fading content in once it loads.
more here: http://www.jonathanrowny.com/journal/angularjs-smooth-fading-after-data-has-loaded
*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
}
.fade.in{
  opacity: 1;
}
.fade.inTransparent{
  opacity: .98;
}

.hidden {
  display: none;
}

/* Login Form Styles */

/*The outer and inner containers are for centering the form*/
.login-outer-container {
  width: 100%;
  text-align: center;
}
.login-inner-container{
  display: inline-block;
}


.form-signin {
  max-width: 400px; 
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
	box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
  margin-top: -70px;
}
.main{
	padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 20px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
	font-size:20px;
	font-weight:bold;
	padding:38px 38px 0px 38px;
	
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 50px;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-signin .alert {
  max-width: 238px; /*might not be the best way to restrict the width */
}

.login-footer{
	background:#f0f0f0;
	margin: 0 auto;
	border-top: 1px solid #dadada;
	padding:20px;
}
.login-footer .left-section a{
	font-weight:bold;
	color:#8a8a8a;
	line-height:19px;
}
.mg-btm{
	margin-bottom:20px;
}
.loginbg{
	background-color: #E6E8E8;
}


