/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 480px) {
  .row-offcanvas {
    position: relative;
    left: 0;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -250px; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 250px; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 250px; /* 6 columns */
  }

}

@media screen and (min-width: 481px) {
  .offcanvas-visible-xs {
    display: none;
  }
}