.uploadPanel {
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: 10px;
	z-index: 1000;

}

/* Let's tweak the positioning of the close button so it is in the center of the panel-heading */
.uploadPanel .panel-heading .close {
	margin-top: -3px; 
}

.uploadPanel .panel-body {
	max-height: 180px;
	overflow: auto;
}

.uploadPanel .panel-body .thumbnail {
	height: 45px;
  	width: 50px;
  	margin-top: 5px;
}
